# reference: https://pnpm.io/npmrc#save-prefix
save-prefix=''

# reference: https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

# https://pnpm.io/npmrc#resolution-mode
# see also: https://github.com/pnpm/pnpm/issues/6463#issuecomment-1525839756
resolution-mode=highest