# reference: https://pnpm.io/npmrc#save-prefix
save-prefix=''

# reference: https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

# "locally available packages are linked to node_modules instead of being downloaded from the registry"
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=true

# https://pnpm.io/npmrc#resolution-mode
# see also: https://github.com/pnpm/pnpm/issues/6463#issuecomment-1525839756
resolution-mode=highest

# avoid problems related to node-gyp ("ELIFECYCLE Command failed"), which is a peerDependency of sqlite3, which is a dependency of @mapbox/mbtiles
# see: https://github.com/pnpm/pnpm/issues/6145
#node-linker=hoisted

