#############################
# general (development)
##############################

PROJECT_BASE_DIR="/path/to/project-base-dir"

# general execution mode/environment; if possible, avoid using this;
EXECUTION_MODE="dev"

# simulate a CI environment so that pnpm install will use "--frozen-lockfile" automatically
# more details: https://pnpm.io/cli/install#--frozen-lockfile
CI="false"

# use this only if we get the "unable to get local issuer certificate" error in nodejs
# NODE_TLS_REJECT_UNAUTHORIZED=0



#############################
# vite server (used in sveltekit dev)
##############################

VITE_PORT="5000"



##############################
# node server (used in sveltekit prod build; should be equal to ${VITE_PORT})
##############################

WEBAPP_PORT="${VITE_PORT}"
WEBAPP_DOMAIN="the-domain.local"

# used to generate dynamic url for external use (examples: dynamic exported assets);
# the "PUBLIC_" prefix is necessary for sveltekit;
WEBAPP_ORIGIN="https://${WEBAPP_DOMAIN}"

# use only if necessary; see: https://kit.svelte.dev/docs/modules#$env-static-public
# PUBLIC_WEBAPP_ORIGIN="${WEBAPP_ORIGIN}"



##############################
# api server
##############################

API_PORT="5001"

# for simple cases we should have API_DOMAIN equal to WEBAPP_DOMAIN;
# but for other cases we might have the api hosted in separate server/provider
# (example: the webapp hosted in cloudflare and the api hosted in hetzner); then
# we would probably use a subdomain, like this: API_DOMAIN="api.${WEBAPP_DOMAIN}"
API_DOMAIN="${WEBAPP_DOMAIN}"

# used to generate dynamic url for external use (examples: dynamic exported assets);
# the "PUBLIC_" prefix is necessary for sveltekit;
API_ORIGIN="https://${API_DOMAIN}"

# use only if necessary; see: https://kit.svelte.dev/docs/modules#$env-static-public
# PUBLIC_API_ORIGIN="${API_ORIGIN}"

API_PROCESS_NAME="app-name-api"
API_IRON_PASSWORD="some-password-must-have-at-least-32-characters"



##############################
# postgres (see: https://www.postgresql.org/docs/current/libpq-envars.html)
##############################

PGUSER="..."
PGPASSWORD="..."
PGDATABASE="..."
PGHOST="localhost"
PGPORT="5432"
PGAPPNAME="..."



##############################
# testing
##############################

SOMETHING1="abc"
SOMETHING2="/path/to/some file"



##############################
# pg_timetable (see: https://github.com/cybertec-postgresql/pg_timetable/blob/master/internal/config/cmdparser.go)
##############################
#
# PGTT_PGUSER="..."
# PGTT_PGPASSWORD="..."
# PGTT_PGDATABASE="..."
# PGTT_PGHOST="localhost"
# PGTT_PGPORT="5432"
# PGTT_PGAPPNAME="..."
