EXECUTION_MODE="dev"



#############################
# vite server (development)
##############################

VITE_PORT="5000"



##############################
# node server (production build; should be equal to ${VITE_PORT})
##############################

WEBAPP_PORT="5000"

# used to generate dynamic URL (for assets, etc)
# the "PUBLIC_" prefix is necessary for sveltekit; 
PUBLIC_WEBAPP_ORIGIN="https://the-domain.local"



##############################
# api server
##############################

API_PORT="5001"
API_PROCESS_NAME="app-name-api"
API_IRON_PASSWORD="some-password-must-have-at-least-32-characters"

# used to generate dynamic URL (for assets, etc);
# the "PUBLIC_" prefix is necessary for sveltekit; 
PUBLIC_API_ORIGIN=$PUBLIC_WEBAPP_ORIGIN



##############################
# postgres (see: https://www.postgresql.org/docs/current/libpq-envars.html)
##############################

PGUSER="..."
PGPASSWORD="..."
PGDATABASE="..."
PGHOST="localhost"
PGPORT="5432"
PGAPPNAME="..."



##############################
# pg_timetable (see: https://github.com/cybertec-postgresql/pg_timetable/blob/master/internal/config/cmdparser.go)
##############################

PGTT_PGUSER="..."
PGTT_PGPASSWORD="..."
PGTT_PGDATABASE="..."
PGTT_PGHOST="localhost"
PGTT_PGPORT="5432"
PGTT_PGAPPNAME="..."



##############################
# other variables
##############################

# simulate a CI environment so that pnpm install will use "--frozen-lockfile" automatically
# more details: https://pnpm.io/cli/install#--frozen-lockfile

CI="false"

SOMETHING1="abc"
SOMETHING2="/path/to/some file"

# use this only if we get the "unable to get local issuer certificate" error in nodejs
# NODE_TLS_REJECT_UNAUTHORIZED=0
