#############################
# general (development)
##############################

PROJECT_HOME_DIR="/path/to/project-home-dir"

# general execution mode/environment; if possible, avoid using this;
PROJECT_EXECUTION_MODE="dev"

# https://developer.mozilla.org/en-US/docs/Web/API/URL/hostname
PROJECT_HOSTNAME="the-domain.local"

# simulate a CI environment so that pnpm install will use "--frozen-lockfile" automatically
# more details: https://pnpm.io/cli/install#--frozen-lockfile
CI="false"

# use this only if we get the "unable to get local issuer certificate" error in nodejs
# NODE_TLS_REJECT_UNAUTHORIZED=0



#############################
# vite server (used in sveltekit dev)
##############################

VITE_PORT="5000"



##############################
# node server (used in sveltekit prod, when node-adapter is used)
##############################

WEBAPP_PORT="${VITE_PORT}"

# WEBAPP_ORIGIN is used to generate dynamic url's for external use (examples: dynamic exported assets);
# might also be necessary in other situations; more details here:
# https://kit.svelte.dev/docs/adapter-node#environment-variables-origin-protocolheader-hostheader-and-port-header
WEBAPP_ORIGIN="https://${PROJECT_HOSTNAME}"

# use only if necessary; see: https://kit.svelte.dev/docs/modules#$env-static-public
# PUBLIC_WEBAPP_ORIGIN="${WEBAPP_ORIGIN}"



##############################
# api server
##############################

API_PORT="5001"
API_ADDRESS_PRIVATE="127.0.0.1"
API_ORIGIN_PRIVATE="http://${API_ADDRESS_PRIVATE}:${API_PORT}"

# used to generate dynamic url for external use (examples: dynamic exported assets);

# API_ORIGIN is used to generate dynamic url's for external use (examples: dynamic exported assets);

# for simple cases we should have API_ORIGIN equal to WEBAPP_ORIGIN;
# but for other cases we might have the api hosted in separate server/provider
# (example: the webapp hosted in cloudflare and the api hosted in hetzner); then
# we would probably use a subdomain, like this: API_ORIGIN="https://api.${PROJECT_HOSTNAME}"
API_ORIGIN="${WEBAPP_ORIGIN}"

# use only if necessary; see: https://kit.svelte.dev/docs/modules#$env-static-public
# PUBLIC_API_ORIGIN="${API_ORIGIN}"

API_PROCESS_NAME="app-name-api"
API_IRON_PASSWORD="some-password-must-have-at-least-32-characters"



##############################
# postgres (see: https://www.postgresql.org/docs/current/libpq-envars.html)
##############################

PGUSER="..."
PGPASSWORD="..."
PGDATABASE="..."
PGHOST="localhost"
PGPORT="5432"
PGAPPNAME="..."
PG_COLOR="always"


##############################
# testing
##############################

SOMETHING1="abc"
SOMETHING2="/path/to/some file"



##############################
# pg_timetable - DEPRECATED (see: https://github.com/cybertec-postgresql/pg_timetable/blob/master/internal/config/cmdparser.go)
##############################
#
# PGTT_PGUSER="..."
# PGTT_PGPASSWORD="..."
# PGTT_PGDATABASE="..."
# PGTT_PGHOST="localhost"
# PGTT_PGPORT="5432"
# PGTT_PGAPPNAME="..."
